@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Roboto+Mono:wght@200&display=swap');
* {
  font-family: 'Fira Mono', monospace;
  font-family: 'Roboto Mono', monospace;
  
}

nav {
    background: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
}